.box{
  display: flex;
  width: auto;
  font-family: Trebuchet MS, sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: inherit;
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color:#111;
  color: white;
  width: 100%;
  padding: 16px;  
  height: 40px;
  text-align: center;
  z-index: 1;
  font-family: inherit;
}

.nav-left{
  padding: 5px 5px 5px 5px;
  font-size: large;
  cursor: pointer;
}

.nav-right{
  padding: 5px 5px 5px 5px;
  font-size: large;
  margin-right: 30px;
  cursor: pointer;
}

.card{
  width: 300px;
  margin: auto;
  margin: 10px;
  border: 1px solid gray;
  width: 340px;
  box-shadow: 5px 5px lightgrey;
}
.card-title {
  color: black;
  font-weight: 1000;
  padding: 10px;
}

.add {
  display: flex;
  flex-direction: row;
  padding: auto;
  justify-content: space-between;
  height: 70px;
}

.add button{
  background-color:  rgba(238, 223, 93, 0.87);
  color: black;
  height: 30px;
  width: max-content;
  font-size: small;
  margin-top: 30px;
  font-family: inherit;
  border: 1px solid grey;
  cursor: pointer;
}

.added-item{
  margin-top: 33px;
}


.card-title:hover{ 
  color: orange;
  cursor: pointer;
}

.card-content{
  padding: 10px;
}

.card img{
  height: 299px;
  width: 310px;
  padding: 10px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.inputBar{
  height: 40px;
  width: 200px;
  margin-left: 0px;
}

.cart{
  margin-left:auto;
  margin-right: auto;
  margin-top: 80px;
}

.collection-item {
  display: flex;
  flex: wrap;
  height: 180px;
  width: 700px;
  flex-direction: row;
  margin: 10px auto 10px auto;
  border:1px solid lightgray;
  padding: 10px;
}

.collection-item p{
  margin-top: 10px;
}

.collection-item img{
  height: 150px;
  width: 200px;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#checkout{
  height: 50px;
  width: 720px;
  background-color: #87e1ec;
  border: 1px solid grey;
  border-radius: 15px 15px;
}

.search{
  border-radius: 8px 8px;
  height: 23px;
  border: 0px;
  width: 220px;
}

.search::selection{
  border: 0px;
}

select{
  height: 25px;
  border-radius: 8px 8px;
  border: 0px;
}