.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar{
  position: fixed;
  height: 50px;
  background-color: orangered;
  color: white;
  width: 100%;
}

.navabar h2{
  color: white;
}

.card{
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-title {
  color: black;
  font-weight: 1000;
  padding: 10px;
}

.card-content{
  padding: 10px;
}

.card img{
  height: 299px;
  width: 299px;
  padding: 10px;
}